@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    background-color: #eeebf6;
    font-family: 'Poppins', sans-serif;
}

.display_account_info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.error-message{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.text-btn {
    background-color: transparent;
    color: #a93185;
    border: none;
    font-size: 16px;
    margin: -6px;
    letter-spacing: 0.2px;
    margin-left: 4px;
    margin-right: 4px;
}
.text-btn:hover {
    cursor:pointer
}

.content {
    padding: 2em;
}

.no-ext-banner{
    background:linear-gradient(to top, #a93185, #5d3bad);
    padding:20px 30px 20px 30px;
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    border-radius: 10px;
}

.extension-download{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 50px;
    background:linear-gradient(to right, #a93185, #5d3bad);
    margin-right: 20px;
}

.extension-download:hover{
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(to left, #a93185, #5d3bad);
}

.extension-download-buttons{
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-ext-tagline{
    font-family: 'Poppins', sans-serif;
    padding:10px 30px 10px 30px;
}

.no-ext-headline{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-ext-img{
    max-width: 30vw;
    padding: 20px;
    margin-right: 20px;
    border-radius: 30px;
}

.no-ext-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
}